.events {
  margin-bottom: 60px;

  @include on-tablet {
    margin-bottom: 112px;
  }

  @include on-desktop {
    margin-bottom: 104px;
  }

  &__title {
    text-align: center;

    @include on-tablet {
      text-align: left;
    }
  }

  &__list {
    @extend %list-reset;

    @include page-grid;

    row-gap: 60px;
    margin-top: 40px;

    @include on-tablet {
      row-gap: 64px;
      margin-top: 48px;
    }

    @include on-desktop {
      row-gap: 104px;
      margin-top: 56px;
    }
  }

  &__item {
    grid-column: 1 / -1;
  }
}
