.icon {
  display: block;
  flex-shrink: 0;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  transition: background-color $effect-duration ease;

  &--menu {
    background-image: url(../images/icons/burger-menu.svg);
  }

  &--close {
    background-image: url(../images/icons/close-menu.svg);
  }

  &--fb {
    background-image: url(../images/icons/facebook.svg);

    @include hover(
      filter,
      invert(31%) sepia(12%) saturate(2250%) hue-rotate(118deg) brightness(91%)
        contrast(88%)
    );
  }

  &--ig {
    background-image: url(../images/icons/instagram.svg);

    @include hover(
      filter,
      invert(31%) sepia(12%) saturate(2250%) hue-rotate(118deg) brightness(91%)
        contrast(88%)
    );
  }
}
