.icon {
  display: block;
  flex-shrink: 0;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &--menu {
    background-image: url(../images/icons/burger-menu.svg);
  }

  &--close {
    background-image: url(../images/icons/close-menu.svg);
  }

  &--fb {
    background-image: url(../images/icons/facebook.svg);
  }

  &--ig {
    background-image: url(../images/icons/instagram.svg);
  }
}
