%heading-base {
  font-family: $font-main;
  color: $color-black;
}

%logo-style {
  @extend %heading-base;

  font-size: 36px;
  font-weight: 700;
  line-height: 100%;
}

%list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

%event-type {
  font-family: $font-small;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  color: $color-grey;

  @include on-tablet {
    font-size: 14px;
  }
}

%event-date {
  font-family: $font-small;
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  color: $color-dark-green;

  @include on-tablet {
    font-size: 14px;
  }
}

%text-small {
  font-family: $font-small;
  font-weight: 400;
  line-height: 150%;
  font-size: 14px;
  color: $color-black;
}

%text-caption {
  font-family: $font-small;
  font-weight: 300;
  font-size: 12px;
  line-height: 141%;
}

%h1 {
  font-weight: 700;
  font-size: 45px;
  line-height: 100%;
  margin: 0;

  @extend %heading-base;

  @include on-tablet {
    font-size: 54px;
    line-height: 120%;
  }

  @include on-desktop {
    font-size: 72px;
  }
}

%h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  margin: 0;

  @extend %heading-base;

  @include on-tablet {
    font-size: 48px;
  }
}

%h3 {
  font-weight: 400;
  font-size: 28px;
  line-height: 100%;
  margin: 0;

  @extend %heading-base;

  @include on-tablet {
    font-size: 36px;
  }
}
