$mobile-min-width: 320px;
$tablet-min-width: 768px;
$desktop-min-width: 1280px;
$font-main: 'Montserrat', sans-serif;
$font-small: 'IBM Plex Sans', sans-serif;
$mobile-padding-inline: 20px;
$tablet-padding-inline: 39px;
$desktop-padding-inline: 55px;
$effect-duration: 0.3s;
$color-black: #0f0e08;
$color-white: #fff;
$color-grey: #687480;
$color-dark-grey: #4e4e4e;
$color-dark-green: #1a5a4c;
$color-red: #f14a27;
$drop-shadow: 0px 2px 0px 0px #1a5a4c40;
$line: #1a5a4c80;
$line-white: #ffffff80;
$aside-overlay-bg: #18181a80;
